{% extends 'base.html' %}

{% load static %}

{% block title %}Location Details{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="search d-flex">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Have a question? Ask Now">
                    <button class="btn btn-primary ml-2 bg-black text-white hover:bg-gray-800">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div id="map" style="height: 400px;"></div>

    <button onclick="updateLocation()">Update Location</button>

    <script>
        var map = L.map('map').setView([{{ location.y }}, {{ location.x }}], 100);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([{{ location.y }}, {{ location.x }}]).addTo(map)
            .bindPopup('<b>{{ user.username }}</b><br />')
            .openPopup();
    </script>

    <script>
        var marker;
        var circle;

        function updateMap(latitude, longitude, accuracy) {
            if (marker) {
                map.removeLayer(marker);
            }
            if (circle) {
                map.removeLayer(circle);
            }

            marker = L.marker([latitude, longitude]).addTo(map); 
            circle = L.circle([latitude, longitude], accuracy).addTo(map);
        }

        function updateLocation() {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var accuracy = position.coords.accuracy; 
                    updateMap(latitude, longitude, accuracy);

                    fetch('{% url "update_location" %}', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        body: 'latitude=' + latitude + '&longitude=' + longitude
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log('Location updated successfully');
                        } else {
                            console.error('Error updating location');
                        }
                    });
                },
                function(error) {
                    console.error('Error getting location:', error);
                }
            );
        }

        {% if location %}
            updateMap({{ location.y }}, {{ location.x }}, 100);  // Replace 100 with desired accuracy
        {% endif %}
    </script>
{% endblock %}